


:root {
    --header-bg:#793a46;
    --title-color: #793a46;
    --link-color: #07D;
    --link-color-hover: #f00;



    --btn-top1-bg:#35b925;
    --btn-top1-bg-hover:#abd02a;
    --btn-top1-color:#fff;

    --btn-top2-bg:#ec7724;
    --btn-top2-bg-hover:#ff8f22;
    --btn-top2-color:#fff;


    --table-bg: #e6e6e6;
    --table-cell-bg: #d2cfcf;
    --table-img-bg:#b20426;


    --btn-playCasino-bg:#20c51a;
    --btn-playCasino-border:#168212;
    --btn-playCasino-text-color: #fff;

    --btn-playCasino-bg-hover: #1db329;
    --btn-playCasino-border-hover:rgba(0,0,0,.16);
    --btn-playCasino-text-color-hover: #fff;



    --btn-obzorCasino-bg:#4661b8;
    --btn-obzorCasino-border:#224ac7;
    --btn-obzorCasino-text-color: #fff;

    --btn-obzorCasino-bg-hover:#4661b8;
    --btn-obzorCasino-border-hover: #4661b8;
    --btn-obzorCasino-text-color-hover: #e6be6e;


    --btn-otziv-bg:inherit;
    --btn-otziv-border:#b20426;
    --btn-otziv-text-color: #872b3a;

    --btn-otziv-bg-hover:#4661b8;
    --btn-otziv-border-hover: #4661b8;
    --btn-otziv-text-color-hover: #e6be6e;


    --footer-bg:#793a46;
    --footer-link-color:#f1c525;
    --footer-text-color: #fff;
    --copyright-bg: #3c141c;
    --copyright-text-color:#c1bebf;





}



body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}



h1, h2, h3, h4 {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

h1 {
    text-align: center;
    margin-top: 54px;
    font-size: 28px;
    color: var(--title-color);
}

a{
    color: var(--link-color);
}
a:hover{
    color: var(--link-color-hover);
}

#header {
    height: 52px;
    top: 0;
    left: 0;
    background-color: var(--header-bg);
    position: fixed;
    width: 100%;
}


.container{
    clear: both;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}


.uk-navbar {
    background-color: var(--header-bg);
    /*width: 1200px;*/
    margin: 0 auto;
    height: 50px;
}

/*.uk-navbar-center {*/

    /*background-color: #793a46;*/

    /*text-align: center;*/
    /*max-width: 100%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/

/*}*/

/*.uk-navbar-center p{*/
    /*position: relative;*/
    /*top: 0;*/
    /*z-index: 1000;*/
    /*color: #fff;*/
/*}*/


/*.uk-navbar-center a {*/
    /*color: #fff;*/
    /*text-shadow: none;*/
/*}*/

.uk-navbar-nav > li > a {
    border-left: solid 1px #9a0422;
    height: 50px;
    line-height: 50px;
    width: 104px;
    display: block;
    float: left;
    border-left: solid 1px #562a33;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.uk-navbar-nav > li > a:hover {
    background: #9a0422;
}

.uk-navbar-nav span {
    color: #f2c525;
    display: block;
    font-size: 12px;
    text-align: center;
}

.uk-navbar-nav a:hover {
    background: none;
}

.news a {
    color: #b20426;
}

.copyright {
    background: var(--copyright-bg);
    height: 40px;
    color: var(--copyright-text-color);
    text-align: center;
    line-height: 45px;
}

#footer {
    background: var(--footer-bg);
    margin-top: -10px;
}

.footermenu {
    float: right;
    display: block;
}

.footermenu ul {
    list-style-type: none;
}

.footermenu li a {
    color: var(--footer-link-color);
    font-size: 14px;
    line-height: 26px;
}

.footbut span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 17px !important;
    padding-top: 0 !important;
    width: 100%;
    display: block;
    color: var(--footer-text-color) !important;
    text-transform: uppercase;
}

.icoblock img {
    margin-left: 10px;
}

.icoblock img:hover {
    opacity: 0.6;
}

.two-footer {
    padding: 10px 0 10px 0;
}

.pointer {
    cursor: pointer;
}

.bl_ceo {
    clear: both;
    width: 100%;
    margin: 10px 0;
}

.bl_ceo:after {
    content: "";
    display: table;
    clear: both;
}

.bonus-step strong {
    display: block;
    margin-top: 7px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

#slot-game li {
    margin-left: 0;
    padding-left: 1px;
}

.gameslot span {
    display: block;
    height: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.gameslot img {
    display: block;
    width: 100%;
}

.gameslot img {
    height: 140px;
}

.button-block {
    float: right;

}

.btn_comeIn {
    width: 150px;
    display: inline-block;
    box-shadow: 0 4px 0 #904816, 0 5px 10px rgba(0, 0, 0, .35);
    background: var(--btn-top2-bg);
    text-transform: uppercase;
    line-height: 50px;
    font-size: 15px;
    transition: all 0.2s;
    border: none;
    box-sizing: border-box;
    text-align: center;
    color: var(--btn-top2-color);
    cursor: pointer;
}

.btn_comeIn:hover {
    background: var(--btn-top2-bg-hover);
    transition: 0.3s;
    text-decoration: none;
}

.btn_into {
    width: 150px;
    display: inline-block;
    box-shadow: 0 4px 0 #237919, 0 5px 10px rgba(0, 0, 0, .35);
    background-color: var(--btn-top1-bg);
    text-transform: uppercase;

    line-height: 50px;
    font-size: 15px;
    transition: all 0.2s;
    text-align: center;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    color: var(--btn-top1-color);
}

.btn_into:hover {
    background: var(--btn-top1-bg-hover);
    transition: 0.3s;
    text-decoration: none;
}

/*.mobilebutt {*/
    /*width: 100%;*/
    /*margin-top: 0 !important;*/
    /*background: #b32323;*/
    /*z-index: 999999;*/
/*}*/

.mobibtn {
    width: 50%;
    text-align: center;
    float: left;
    margin: 10px auto;
}

#mobfixed {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logotas {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.infosubm {
    min-height: 50px;
    width: 100%;
    max-width: 200px;
    background-color: var(--btn-obzorCasino-bg);
    padding: 7px 10px;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    color: var(--btn-obzorCasino-text-color);
    border: 2px solid var(--btn-obzorCasino-border);
}

.infosubm:hover {
    color: var(--btn-obzorCasino-text-color-hover);
    transition: .3s;
    background-color: var(--btn-obzorCasino-bg-hover);
    border: 2px solid var(--btn-obzorCasino-border-hover);;
}

.tarifimg {
    background-color: var(--table-bg);
    margin-top: 2px !important;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    min-height: 160px;
    margin-left: 0;
}

.tarifimg > .uk-width-medium-1-5 {
    margin: 0;
    padding: 0
}

.tarifimg img {
    background-color: var(--table-img-bg);
    padding: 2px;
    display: block;
    margin: 0 auto
}

.tarifimg img:hover {
    padding: 0;
    transition: .3s
}

.tarifimg p {
    margin-top: 15px
}

.tarifimg table {
    width: 100%;
    text-align: center;
}

.tarifimg tr {
    line-height: 17px;
}

.flag {
    float: left;
    background: #bdbcbc !important;
    margin-left: 3px !important;
    padding: 2px !important;
    border-radius: 4px;
}

.vendor {
    float: left;
    background: #fff !important;
    margin-left: 3px !important;
    margin-bottom: 3px;
    height: 40px;
    border-radius: 4px;
    padding: 0 !important;
}

.casproizvoditel .vendor:first-child {
    margin-left: 0
}

.flag:nth-child(1) {
    margin-left: 0
}

.casino-table tr {
    background-color: var(--table-cell-bg);
}

.bonusname {
    font-size: 15px;
    display: block;
    overflow: hidden;
    height: 22px;
}

.casino-table td:nth-child(1) {
    width: 10px;
}

.casino-table td {
    min-width: 140px;
    text-align: left;
    padding-left: 5px;
    line-height: 27px;
}

.but-bonus2 {
    margin: 32px 0 0 7px;
    padding: 0;
}

.casimg {
    margin-top: 5px !important;
}

.maincastable {
    width: calc(50% + 120px);
}

.obzorb {
    min-height: 45px;
}

.otziv {
    width: 100%;
    display: block;
    background-color: var(--btn-otziv-bg);
    border: 2px dotted var(--btn-otziv-border);
    margin-top: 33px;
    border-radius: 10px;
    min-height: 30px;
    line-height: 26px;
    color: var(--btn-otziv-text-color);
    font-size: 17px;
    text-align: center;
}

.otziv:hover,
.otziv:focus{
    background-color: var(--btn-otziv-bg-hover);
    border-color: var(--btn-otziv-border-hover);
    color: var(--btn-otziv-text-color-hover);
}


.playcbutton {
    width: 100%;
    max-width: 200px;
    min-height: 50px;
    background-color: var(--btn-playCasino-bg);
    padding: 10px 3px;
    font-size: 18px;
    color: var(--btn-playCasino-text-color);
    text-transform: uppercase;
    border: 3px solid var(--btn-playCasino-border);
    margin-bottom: 10px;
}

.playcbutton:hover,
.playcbutton:focus{
    background-color: var(--btn-playCasino-bg-hover);
    color: var(--btn-playCasino-text-color-hover);
    border-color: var(--btn-playCasino-border-hover);
}


#casino {
    min-height: 800px;
}

#casino h3 {
    text-align: left;
    margin: 0;
}

#casino h4 {
    text-align: left;
    margin: 0;
}

#casino ul {
    font-family: 'Roboto Condensed', sans-serif;
}

#casino .logocasino img {
    width: 85%;
    display: block;
    margin: 0 auto;
    max-width: 342px;
    border-radius: 10px;
}

#casino .head-cas-block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#casino .head-cas-block ul li {
    list-style-type: none;
    margin-bottom: 10px;
}


#big-table-casino table tr td:nth-child(1) {
    font-weight: bold;
    color: #6c6c7a;
    font-size: 15px;
    vertical-align: middle;
}

#big-table-casino .vendor {
    background: #edeef0 !important;
    border: 2px solid #bdbcbc;
}

#respond input {
    width: 80%;
    float: right;
    margin-right: 15px;
    height: 37px;
}

#respond label {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 30px;
}

#comment li {
    list-style-type: none;
}

#comment ul {
    padding: 0;
}

.casproizvoditel {
    overflow: hidden;
    height: 41px;
    display: block;
}

.casproizvoditel img {
    margin-bottom: 3px;
}

.sitemap-colum h2 {
    color: #b20426;
    font-size: 26px;
}

@media screen and (min-width: 0) and (max-width: 400px) {

    #slot-game li {
        width: 100%;
    }

    .tarifimg table {
        margin-left: -26px;
        width: 116%;
    }

}

@media screen and (min-width: 0) and (max-width: 768px) {
    .btn_into, .btn_comeIn {
        border-radius: 0;
        box-shadow: none;
    }

    .gameslot span {
        padding: 5px 0;
    }

    .page-template-page-bonus-rate .tarifimg .pointer {
        padding-left: 15px;
        background: none;
    }

    .page-template-page-bonus-rate .tarifimg .infosubm {
        background: #4661b8;
    }

    .block-rate {
        margin-left: 14px;
    }



    .logotas {
        text-align: center;
    }

    .page-template-page-bonus-rate .but-bonus {
        margin: 0 auto;
        width: 105%;
        margin-top: 10px;
    }

    .tarifimg {
        margin-left: -20px;
        width: 100%;
        padding-right: 30px;
    }

    .footermenu ul {
        text-align: center;
        background: #611d2b;
        padding: 8px 0;;
    }

    .footermenu {
        width: 100%;
    }

    .hidemob {
        display: none;
    }

    .maincastable {
        width: 100%;
    }

    .but-bonus2 {
        width: 100% !important;
        margin-top: 10px;
    }

    .playcbutton,
    .infosubm{
        max-width: 100%;
        margin-bottom: 5px;
    }

    .vendor {
        margin-bottom: 2px !important;
        margin-top: 2px !important;
    }

    .vendor:nth-child(1) {
        margin-left: 3px !important;
    }


    .flag {
        margin-left: 0 !important;
        margin-bottom: 0;
    }

    .otziv {
        margin-top: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 2000px) {
    .hidedesctop {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .uk-navbar-nav > li > a {
        width: 80px;
    }

    .maincastable {
        width: calc(50% + 0);
    }

    #respond label {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .uk-navbar-nav > li > a {
        width: 100px;
    }

    .maincastable {
        width: calc(50% + 30px);
    }
}

